DB_URL=sqlite://db.sqlite3
SECRET_KEY=f38e97b0cd3c4e20aa74d1a61f5c95f6e7dc8341df53f3d0bcbfda62a4b7c477
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
MINIO_ENDPOINT=play.min.io:9000
MINIO_ACCESS_KEY=Q3AM3UQ867SPQQA43P2F
MINIO_SECRET_KEY=zuf+tfteSlswRu7BJ86wekitnifILbZam1KYY3TG
MINIO_BUCKET=zimkola
